.label {
    -fx-font-family: Silom;
    -fx-font-weight: bold;
    -fx-font-size: 80;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.small-label {
    -fx-font-family: Silom;
    -fx-font-weight: bold;
    -fx-font-size: 60;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
